/** 
 * steps.js是基于原生JavaScript的组件，可用于展示步骤条、时间轴等。
 * time：2018-09-22
 * version：1.0
 * by 樊小书生: http://www.fxss5201.cn/
 * github: https://github.com/fxss5201/steps
 */
.steps {
    padding: 10px;
    box-sizing: border-box;
}
.steps-row {
    display: flex;
    flex-wrap: nowrap
}
.steps-column {
    flex-basis: 50%;
    flex-flow: column;
    display: inline-flex;
}
.steps-horizontal .steps-row-start {
    align-items: flex-end;
}
.steps-column-center {
    flex-basis: auto!important;
    flex-shrink: 0;
    flex-grow: 0;
}
.steps-horizontal {
    white-space: nowrap;
}
.steps-vertical {
    display: flex;
    height: 100%;
}
.steps-center {
    text-align: center;
}
.step {
    position: relative;
    flex-shrink: 1;
}
.steps-vertical .step {
    display: flex;
}
.step-head {
    position: relative;
    width: 100%;
}
.steps-vertical .step-head {
    flex-grow: 0;
}
.step-line {
    position: absolute;
    height: 2px;
    top: 11px;
    left: 0;
    right: 0;
    border-color: inherit;
    background-color: #c0c4cc;
}
.steps-vertical .step-line {
    width: 2px;
    top: 0;
    bottom: 0;
    left: 11px;
    height: 100%;
}
.steps-center .step-line {
    left: 50%;
    right: -50%;
}
.step-icon {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    box-sizing: border-box;
    background: #fff;
    transition: .15s ease-out;
    border-radius: 50%;
    border: 2px solid;
    border-color: inherit;
}
.step-icon-number {
    display: inline-block;
    user-select: none;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    color: inherit;
}
.step-icon-bullets {
    display: inline-block;
    user-select: none;
    width: 14px;
    height: 14px;
    background-color: currentColor;
    border-radius: 50%;
}
.step-body {
    white-space: normal;
    text-align: left;
}
.steps-vertical .step-body {
    padding-left: 10px;    
    flex-grow: 1;
}
.steps-center .step-body {
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}
.steps-column-center .step-body {
    visibility: hidden;
    width: 0;
}
.steps-column-center .step-body {
    padding: 0;
}
.step-title {
    padding-right: 10%;
    font-size: 16px;
    line-height: 38px;
}
.steps-vertical .step-title {
    line-height: 24px;
    padding-bottom: 8px;
}
.step-description {
    padding-right: 10%;
    margin-top: -5px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}
.steps-row-start .step-description {
    margin-bottom: -5px;
}
.steps-center .step-title,
.steps-center .step-description {
    padding-right: 0;
}
.steps .step:last-child .step-line {
    display: none;
}
.steps-row .step:last-child .step-title,
.steps-row .step:last-child .step-description {
    padding-right: 0;
}
.steps-column-start .step-title,
.steps-column-start .step-description {
    text-align: right;
    padding-right: 10px;
    padding-left: 10%; 
}
.steps-vertical .steps-column:not(.steps-column-center) .step:last-child {
    flex-basis: auto!important;
    flex-shrink: 0;
    flex-grow: 0;
}
.steps-vertical .steps-column-center .step:last-child {
    flex-shrink: 0;
    flex-grow: 0;
}
.step-default-class {
    color: #999;
    border-color: #999;
}
.step-finish-class {
    color: #409eff;
    border-color: #409eff;
}
.step-finish-line-bg {
    background-color: #409eff;
}
